.a-futur {
    font-family: 'Helvetica Neue', sans-serif;
}

.a-futur p {
    width: 80%;
    margin: 50px auto;
}

.a-futur-double{
    display: flex;
    width: 100%;
}

.a-futur-double a{
    width: 50%;
}

.a-futur-double div{
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-futur-double div h2{
    position: relative;
    z-index: 1; /* Positionner le texte au-dessus de l'image de fond */
}

.a-futur-double-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px); /* Appliquer le flou à l'image de fond */
    transition: 0.5s ease;
}

.a-futur-double-item:hover::before {
    filter: none; /* Supprimer le flou au survol */
}

.a-futur-double a:nth-child(1) div::before {
    background-image: url(public/about/experience.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.a-futur-double a:nth-child(2) div::before {
    background-image: url(public/about/2025.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.a-first-container{
    width: 80%;
    margin: 200px auto;
}

.a-first-video{
    margin-bottom: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.a-first h1{
    font-size: 90px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: #000;
    margin-top: 20px;
}

.a-first img{
  margin: 0 auto;
}

.a-first h2{
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.a-second-container{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.a-second-container-item{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 50px
}

.a-second-container-item h2{
    margin-top: 100px;
    margin-bottom: 20px;
    color: #E51E1A;
}


.a-third .modal-stickers-about{
    width: 80%;
    background: #121212;
    border-radius: 10px;
    margin: 0 auto;
}

.a-third-stick {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.a-third-stick h2{
    margin-bottom: 30px;
}

.a-third-stick-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 100px;
}

.a-third-guid{
    width: 80%;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.a-third-guid p {
text-align: center;
}

.a-third-guid-container{
    margin-top: 60px;
    border-top: 2px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.a-third-guid-container-item{
    padding: 30px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a-third-guid-container-item p:first-of-type{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0;
}

.a-third-guid-container-item:not(:last-child){
    border-right: 2px solid #222222;

}

.a-third-cart div p:first-of-type{
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 50px;
    font-weight: 600;
}

.a-third-cart div span{
    margin-bottom: 20px;
}

.a-third-cart div p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 60px;
}

.a-third-cart div p:last-of-type{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: unset;
}

.a-fourth-exclusive{
    width: 70%;
    margin: 0 auto;
    background: #121212;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
}

.a-fourth-exclusive-text{
    margin-left: 100px;
}

.a-fourth-exclusive-text p{
    margin-top: 25px;
}

.a-fourth-trackt{
    width: 100%;
}

.a-vision{
    width: 80%;
    margin: 75px auto 0 auto;
}

.a-vision h2{
    font-size: 90px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: #000;

    width: fit-content;
}


.a-vision-container-item{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121212;
    padding-left: 50px;
}

.a-vision-container-item div{
    min-width: 250px;
    display: flex;
    justify-content: center;
}


.a-vision-container-item p{
    padding: 0 50px;
}

.a-assets{
    margin-top: 60px;
}

.a-assets-container{
    width: 776px;
    height: 354px;
    border: 2px solid #fff;
}

.a-assets-container div:not(:last-child){
    border-bottom: 2px solid #fff;
    padding-top: 2px;
}

@media screen and (max-width: 768px){
    .a-futur{
        margin-top: 175px;
    }

    .a-futur p {
        margin: 30px;
        font-size: 16px;
        font-weight: 300;
    }

    .a-futur-double{
        flex-direction: column;
    }

    .a-futur-double a{
        width: 100%;
    }

    .a-futur-double div{
        justify-content: flex-start;
        height: 200px;
    }

    .a-futur-double div h2{
        margin-left: 20px;
        font-size: 20px;
    }

    .a-futur-double-item:before{
        filter: blur(0);
    }

    .a-vision{
        margin: 80px 30px;
    }

    .a-vision h2{
        font-size: 40px;
        width: 40%;
    }

    .a-vision-container{
        width: 100%;
    }

    .a-vision-container-item{
        flex-direction: column;
        padding-left: unset;
    }

    .a-vision-container-item img{
        margin: 20px 0;
    }

    .a-vision-container-item p {
        padding: 0 25px 20px 25px;
        font-size: 16px;
        font-weight: 300;
    }

    .a-assets{
        margin: 0 10px;
    }

    .a-assets img{
        width: 100%;
    }

    .a-assets-container{
        width: 100%;
        height: 100%;
    }

    .a-assets-container img:first-child{
        width: 100%;
    }

    .a-first-container{
        margin: 0 30px;
    }
    .a-first-container p{
        font-weight: 300;
    }

    .a-first-container img {
        width: 115px;
    }

    .a-first h1{
        font-size: 40px;
        margin-bottom: 80px;
    }

    .a-first-video{
        margin: 100px 0;
    }

    .a-first-video video{
        height: 400px;
        width: unset;
    }

    .panel-container-box{
        margin: 0 10px 0px 10px;
    }

    .a-fourth{
        margin-bottom: 50px;
    }

    .a-fourth-exclusive{
        flex-direction: column;
        margin: 0 30px;
    }

    .a-fourth-exclusive-text{
        margin-left: unset;
        margin-top: 25px;
    }

    .res-visuel{
        margin: 0 30px;
    }

    .res-visuel-header{
        text-align: center;
    }

    .res-visuel-header h4{
        margin-bottom: 20px;
    }

    .res-visuel-more{
        text-align: center;
    }

    .res-visuel-btn{
        display: flex;
        flex-direction: column;
    }

    .res-visuel-btn button{
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        text-transform: uppercase;
        padding: 20px 30px;
        font-size: 15px;
        font-weight: bold;
        margin-top: 25px;
        font-family: "Helvetica Neue", sans-serif;
    }

    .a-third-guid-container-item{
        background-color: #181818;
        padding: 40px 0;
    }

    .a-third-guid-container-item p:first-of-type{
        font-size: 20px;
    }

    .a-third-guid-container-item p{
        margin: 0 20px;
    }

    .a-third-guid-container-item{
        border-top: 1px solid #222222;
        border-bottom: 1px solid #222222;
    }




}