/*
* --------------------------------------------------
* routes/account/recover
* --------------------------------------------------
*/


.account-recover{
    background-image: url("public/account/recover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.account-recover-success{
    background-image: url("public/account/recoverSuccess.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.account-reset{
    background-image: url("public/account/accountReset.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-reset h1{
    padding-top: 150px;

}

.account-reset form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.account-reset .btn-fields{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-reset .btn-fields a{
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}


.account-reset form button{
    padding: 0 40px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-field label{
    font-size: 17px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
}

.account-reset .input-field input{
    height: 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
    padding-left: 30px;
    font-size: 18px;
    color: #fff;
}

.account-recover-success button {
    padding: 0 40px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;
    margin: auto;
}

/*
* --------------------------------------------------
* routes/account/login
* --------------------------------------------------
*/

.register{
    background-image: url("public/account/Login/register.png") !important;
}

.register-form{
    display: flex;
    width: fit-content;
}

.register2{
    height: 100%;
    overflow-y: hidden;


}

.login{
    background-image: url("public/account/Login/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.login-form{
    margin-top: 120px;
    width: fit-content;
}

.login-form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 600px;

}

.login-form-field select{
    border: none;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    padding-left: 30px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    color: #fff;
}

.login-form-field select option{
    background: #000000;
    backdrop-filter: blur(10px);
    color: #fff;
}


.login-form-field label{
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", sans-serif;
}


.login-form-field input{
    border: none;
    font-size: 18px;
    height: 75px;
    border-radius: 5px;
    outline: none;
    padding-left: 30px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    color: #fff;

}

.login-form button{
    padding: 0 40px;
    height: 75px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;

}

.login-form-field p{
    padding-top: 5px;
    text-align: right;
}

.login .btn-register {
    position: absolute;
    bottom: 30px;
    right: 35px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    background: #FF9147;
    padding: 20px 40px
}

.account{
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    position: relative;

}

.account .logout{
    position: fixed;
    top: 200px;
    right: -20px;
    z-index: 999;
}

.account-head{
    width: calc(100% - 410px);
    margin-left: 410px;
}

.account .account-head h1{
    font-size: 41px;
    text-transform: uppercase;
}

.account-head-txt{
    width: 80%;
    margin-top: 30px;
}

.account-menu{
    position: fixed;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.account-menu .account-menu-bg{
    width: 320px;
    position: absolute;
}

.account-menu a{
    width: 320px;
    padding: 50px 0;
    z-index: 5;
    transition: 0.2s ease-in-out;
}

.account-menu a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}


.account-menu a p{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.btn-update{
    font-size: 25px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 40px;
}

.account-profile{
    width: fit-content;
}


.addresses{
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 10px;
}

.addresses .addresses-list{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content form{
    z-index: 99999;
}

.popup {
    position: relative;
    background: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 1000px rgba(0,0,0,0.5);
    z-index: 10;
}

.popup-content h3{
    text-align: center;
    margin: 50px 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.address-input{
    display: flex;
    padding: 0 40px;

}

.adress-only{
    width: 100%;
}

.adress-only .login-form-field{
    width: 100%;
}

.address-input input{
    height: 50px;
}
.address-input label{
    font-size: 12px;
}

.form-address-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-address-btn button{
    padding: 0 40px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.new-address{
    margin-top: 40px;
    width: 85%;

}

.new-address .new-address-title{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    cursor: pointer;

}

.trackT-size{
    margin-top: 100px;
}

.trackT-size h2{
    margin-bottom: 16px;
}

.trackT-size p{
    margin-bottom: 60px;
}

.trackT-size-container{
    width: 100%;
    display: flex;
}

.trackT-size-container-item{
    width: 375px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px 40px;
}

.trackT-size-container-item h2{
    text-align: center;
    margin-bottom: 50px;
}

.foryou{
    margin-top: 70px;
}


/* ORDERS */

.shopnow{
    padding: 0 40px;
    height: 45px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.order{
    width: 85%;
    margin-top: 90px;
    display: flex;
    border-bottom: 3px solid #FFFFFF21;
    padding-bottom: 30px;
}

.order-head-image{
    width: 250px;
    height: 170px;
}

.order-head-image-item{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.order-head-image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-head-description{
    margin-top: 10px;
}

.order-head-title{
    margin-top: 13px;
}

.order-head-title p{
    font-size: 15px;
    text-transform: uppercase;
}

.order-description{
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.order-description-item p:first-child{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.order-description-item p:last-child{
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}
.order-problem{
    margin-top: 100px;
}

.order-problem p{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 19px;
}

.order-problem span{
    font-size: 19px; color: #FEE233;
    text-decoration: underline;
    cursor: pointer;
}


/* ORDER ITEM */

.account-order{
    margin-bottom: 200px;
}

.account-order-status{
    margin-top: 50px;
}

.account-order-status h2{
    font-size: 26px;
}

.orders-informations {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px
}

.order-description-item {
    flex: 0 0 calc(25% - 60px);
    margin-bottom: 60px;
}

@media screen and (max-width: 1430px) {
    .orders-informations {
        max-width: 1430px;
        margin: 0 auto; /* Centrage du conteneur */
    }
}


.order-products{
    display: flex;
    flex-direction: column;
    margin-right: 80px;

}

.order-product {
    display: flex;
    margin-top: 60px;
    border-bottom: 3px solid #FFFFFF21;
    padding-bottom: 30px;
}

.order-products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 3px solid #FFFFFF21;
}

.order-products-header button {
    padding: 0 40px;
    height: 75px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.account-profile-marketing input[type="checkbox"] {
    appearance: none;
    border: 2px solid white;
    background-color: black;
    width: 21px;
    height: 21px;
}

.account-profile-marketing input[type="checkbox"]:checked {
    background-color: white;
    background-image: url(public/filters/checkbox.png);
    border: none;
    image-rendering: pixelated;
    background-size: contain;
}