:root {
    --aside-width: 450px;
    --cart-aside-summary-height-with-discount: 300px;
    --cart-aside-summary-height: 250px;
    --grid-item-width: 355px;
    --header-height: 170px;
    --color-dark: #000;
    --color-light: #fff;
}

/* * {
  background-color: #000;
} */

* {
    scroll-behavior: smooth;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
    background: var(--color-dark);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    height: 100vh;
    max-width: var(--aside-width);
    min-width: var(--aside-width);
    position: fixed;
    right: calc(-1 * var(--aside-width));
    top: 0;
    transition: transform 200ms ease-in-out;
}

aside header {
    align-items: center;
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 20px;
}

aside header h3 {
    margin: 0;
}

aside header .close {
    font-weight: bold;
    opacity: 0.8;
    text-decoration: none;
    transition: all 200ms;
    width: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

aside header .close:hover {
    opacity: 1;
}

aside header h2 {
    margin-bottom: 0.6rem;
    margin-top: 0;
}

aside main {
    margin: 1rem;
}

aside p {
    margin: 0 0 0.25rem;
}

aside p:last-child {
    margin: 0;
}

aside li {
    margin-bottom: 0.125rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in-out;
    transition: opacity 400ms;
    visibility: hidden;
    z-index: 10;
}

.overlay .close-outside {
    background: transparent;
    border: none;
    color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% - var(--aside-width));
}

.overlay .light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
}

.overlay:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* reveal aside */
.overlay:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
/* .header {
    align-items: center;
    background: #000;
    display: flex;
    height: var(--header-height);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-menu-mobile-toggle {
    @media (min-width: 48em) {
        display: none;
    }
}

.header-menu-mobile {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.header-menu-desktop {
    display: none;
    grid-gap: 1rem;
    @media (min-width: 45em) {
        display: flex;
        grid-gap: 1rem;
        margin-left: 3rem;
    }
}

.header-menu-item {
    cursor: pointer;
}

.header-ctas {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    margin-left: auto;
} */

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
    background: var(--color-dark);
    margin-top: auto;
}

.footer-menu-missing {
    display: inline-block;
    margin: 1rem;
}

.footer-menu {
    align-items: center;
    display: flex;
    grid-gap: 1rem;
    padding: 1rem;
}

.footer-menu a {
    color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/

/* Override skeleton theme */

.cart-line {
    margin-left: 40px;
}

.cart-line-top {
    display: flex;
}

.cart-line-top img {
    height: 150px;
    object-fit: cover;
}

.cart-line-top-data {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-line-top-data h4 {
    font-size: 13px;
    text-transform: uppercase;
}

.cart-line-top-data p {
    font-size: 23px;
}

.cart-line-bottom {
    margin-top: 10px;
}

.cart-line-bottom h3 {
    font-size: 15px;
    text-transform: uppercase;
}

.cart-main {
    height: 100%;
    max-height: calc(100vh - var(--cart-aside-summary-height));
    overflow-y: auto;
    width: auto;
}

.cart-main.with-discount {
    max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-summary-page {
    position: relative;
}

.cart-summary-aside {
    background: #000;
    border-top: 1px solid var(--color-white);
    bottom: 50px;
    padding-top: 0.75rem;
    position: absolute;
    width: calc(var(--aside-width) - 40px);
}


.cart-discount {
    align-items: center;
    display: flex;
    margin-top: 0.25rem;
}

.cart-subtotal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart-checkout {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    height: 65px;
}

.cart-checkout a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart-checkout p {
    color: #000;
    font-weight: bold;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
    height: calc(100vh - var(--header-height) - 40px);
    overflow-y: auto;
}

.predictive-search-form {
    background: var(--color-dark);
    position: sticky;
    top: 0;
}

.predictive-search-result {
    margin-bottom: 2rem;
}

.predictive-search-result h5 {
    text-transform: uppercase;
}

.predictive-search-result-item {
    margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
    align-items: center;
    display: flex;
}

.predictive-search-result-item a img {
    margin-right: 0.75rem;
    height: 100%;
}

.search-result {
    margin-bottom: 1.5rem;
}

.search-results-item {
    margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.home {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-btn {
    font-size: 25px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 40px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 80px;
}

.panel-trackt {
    display: flex;
}

.panel-trackt .filter-trackt {
    width: 230px;
    position: relative;
    background-image: url(public/home/bg-filters.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-trackt .filter-trackt .filter-sticky {
    position: sticky;
    top: 260px;
    z-index: 1;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 400px;
}

.panel-trackt .filter-trackt .filter-sticky h1 {
    text-transform: uppercase;
    color: #fff;
    transform: rotate(270deg);
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.panel-trackt .filter-trackt .filter-sticky p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.panel-container {
    margin-left: 75px;
}

.second-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.panel-container .header {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 100px;
}

.panel-container .header h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}

.panel-container .panel-products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -20px;
}

.panel-container .panel-products-grid > * {
    margin: 0 20px 70px 20px;
}

.panel-container .panel-products-grid .product-grid .product-img-grid {
    width: 343px;
    height: 231px;
    background-color: #fff;
}

.panel-container .panel-products-grid .product-grid .product-img-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel-container .panel-products-grid .product-grid .product-info-grid {
    padding-left: 10px;
}

.panel-container .panel-products-grid .product-grid .product-info-grid h3 {
    margin-top: 16px;
}

.panel-container .panel-products-grid .product-grid .product-info-grid p {
    margin-top: 2px;
    text-transform: uppercase;
}

.hfooter {
    padding: 200px 0;
}

.hfooter .gofilters {
    margin-top: 100px;
    text-align: center;
}

.hfooter .gofilters h1 {
    text-transform: uppercase;
    margin-bottom: 20px;

}

.hfooter .gofilters button {
    text-transform: uppercase;
    margin-top: 40px;

}

.hfooter .hinfos {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.hfooter .hinfos .hbox {
    width: 40%;
    background-color: #121212;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hfooter .hinfos .hbox .htext {
    width: 100%;
    margin-left: 50px;
}

.hfooter .hinfos .hbox .htext h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}


/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.collection-item img {
    height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
    margin-bottom: 1rem;
    max-width: 95%;
    @media (min-width: 45em) {
        max-width: 600px;
    }
}

.products-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.product-item img {
    height: auto;
    width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
    display: grid;
    @media (min-width: 45em) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}

.product h1 {
    margin-top: 0;
}

.product-images {
    display: grid;
    grid-gap: 1rem;
}

.product-image img {
    height: auto;
    width: 100%;
}

.product-main {
    align-self: start;
    position: sticky;
    top: 6rem;
}

.product-price-on-sale {
    display: flex;
    grid-gap: 0.5rem;
}

.product-price-on-sale s {
    opacity: 0.5;
}

.product-options-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.75rem;
}

.product-options-item {
    padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.blog-article-image {
    aspect-ratio: 3/2;
    display: block;
}

.blog-article-image img {
    height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
    height: auto;
    width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
    display: flex;
    align-items: center;
}

.account-logout {
    display: inline-block;
}
