@font-face {
    font-family: 'HelveticaNeue700';
    src: url('../fonts/Helvetica/HelveticaNeueBlack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue700Italic';
    src: url('../fonts/Helvetica/HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue500';
    src: url('../fonts/Helvetica/HelveticaNeueMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue500Italic';
    src: url('../fonts/Helvetica/HelveticaNeueMediumItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue300';
    src: url('../fonts/Helvetica/HelveticaNeueLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue300Italic';
    src: url('../fonts/Helvetica/HelveticaNeueLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* DS font */

/*@font-face {*/
/*    font-family: 'DS-Digital';*/
/*    src: url('../fonts/DS/DS-DIGI.TTF') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/



/* Ajoutez d'autres règles @font-face pour les différentes graisses */

body {
    font-family: 'HelveticaNeue400', sans-serif; /* Utilisez la police par défaut en cas d'échec du chargement de la police spécifiée */
}

:root {
    --aside-width: 350px;
    --asideSearch-width: 100%;
    --cart-aside-summary-height-with-discount: 300px;
    --cart-aside-summary-height: 250px;
    --grid-item-width: 355px;
    --header-height: 170px;
    --color-dark: #000;
    --color-light: #fff;
}

/* * {
  background-color: #000;
} */

* {
    scroll-behavior: smooth;
}

.loading-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-video video{
    width: 90%;
}


/*.loading-video::before,*/
/*.loading-video::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100px; !* Ajustez la largeur de la bordure comme nécessaire *!*/
/*    height: 100%;*/
/*    background-color: black;*/
/*}*/

/*.loading-video::before {*/
/*    left: 0;*/
/*}*/

/*.loading-video::after {*/
/*    right: 0;*/
/*}*/


/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
    background: var(--color-dark);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    height: 100vh;
    max-width: var(--aside-width);
    min-width: var(--aside-width);
    position: fixed;
    right: calc(-1 * var(--aside-width));
    top: 0;
    transition: transform 200ms ease-in-out;
    z-index: 99999;
}

aside header {
    align-items: center;
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 20px;
}

aside header h3 {
    margin: 0;
}

aside header .close {
    font-weight: bold;
    opacity: 0.8;
    text-decoration: none;
    transition: all 200ms;
    width: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    z-index: 9999;
}


aside header h2 {
    margin-bottom: 0.6rem;
    margin-top: 0;
}

aside main {
    margin: 1rem;
    height: 100%;
    position: relative;
}

aside p {
    margin: 0 0 0.25rem;
}

aside p:last-child {
    margin: 0;
}

aside li {
    margin-bottom: 0.125rem;
}

.searchAside {
    background-image: url(public/search.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    transition: transform 200ms ease-in-out;
    z-index: 99999;
}

.categoriesAside{
    background-image: url(public/categoriesAside.png);

}


.categoriesAside main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.categoriesAsideNav{
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.categoriesAsideNav h5{
    text-align: center;
}

.categoriesAside-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.categoriesAside-column{
    display: flex;
    flex-direction: column;
    border-right: 2px solid #8d8d8d3d;
    width: fit-content;
    padding: 0 60px;
}

.categoriesAside-column:last-child{
    border-right: none;
    padding: 0 0 0 80px;
}

.categoriesAside-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.categoriesAside-item h4{
    margin-bottom: 10px;
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    align-items: flex-start;
}

.categoriesAside-item span{
    font-size: 15px;
}

.categoriesAside-item span{
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 9px;
    width: fit-content;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
}

.categoriesAside-item p{
    font-weight: 500;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 9px;
    text-transform: uppercase;
    cursor: pointer;
}

.categoriesAside-item div{
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}

.categoriesAside-item div p{
    margin-bottom: unset;
}

.categoriesAside-item div img{
    width: 43px;
    margin-right: 10px;
}

.searchAside main {
    margin: 0;
}

.searchAside .closeSearch {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in-out;
    transition: opacity 400ms;
    visibility: hidden;
    z-index: 10;
}


.overlay .close-outside {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% - var(--aside-width));
    backdrop-filter: blur(10px); /* Ajoute un flou */

}

.overlay .light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
}

.overlay:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}


/* reveal aside */
.overlay:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer-menu-missing {
    display: inline-block;
    margin: 1rem;
}


.footer-menu a {
    color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/

/* Override skeleton theme */

.cart-line {
    margin-left: 40px;
}

.cart-line:last-child {
    padding-bottom: 130px;
}

.cart-line-top {
    display: flex;
}

.cart-line-top img {
    height: 150px;
    object-fit: cover;
}

.cart-line-top-data {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.cart-line-top-data p {
    font-size: 23px;
}

.cart-line-price p{
    font-size: 23px;
    font-weight: bold;
}

.cart-line-bottom {
    margin-top: 10px;
}

.cart-line-bottom h3 {
    font-size: 15px;
    text-transform: uppercase;
}

.cart-main {
    height: 100%;
    overflow-y: auto;
    width: auto;
    position: absolute;
}

.cart-main.with-discount {
    max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-summary-page {
    position: relative;
}

.cart-summary-aside {
    background: #000;
    bottom: 0px;
    position: fixed;
    padding: 0 20px 30px 20px;
    width: 90%;
}


.cart-discount {
    align-items: center;
    display: flex;
    margin-top: 0.25rem;
}

.cart-subtotal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart-checkout {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    height: 65px;
}

.cart-checkout a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart-checkout p {
    color: #000;
    font-weight: bold;
}

.cart-checkout h6{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/

.no-results{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-results-found{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-results-found p:nth-child(1){
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 600;
}

.no-results-found p:nth-child(2){
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.no-results-found button{
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
}


.predictive-search {
    height: calc(100vh - var(--header-height) - 40px);
}

.predictive-search-form {
    position: sticky;
    padding: 20px 90px 0;

}

.predictive-search-form div {
    display: flex;
    width: 100%;
    height: 75px;

}

.predictive-search-form input {
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    color: #fff;
    outline: none;

}

.predictive-search-form button {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 15%;
    margin-left: 32px;
    transition: 0.2s ease-in-out;
}

.btn-disabled{
    pointer-events: none;
    cursor: not-allowed;
    color: #fff;
    border: none;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.1);
}

.btn-active{
    pointer-events: auto;
    cursor: pointer;
    border: none;
    opacity: 1;
    background: #fff !important;
}

.btn-active h5{
    color: #000 !important;
}

.predictive-search-form button p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.predictive-search-form input::placeholder {
    color: #fff;
}

.predictive-search-results {
    margin-top: 50px;
    padding: 0 90px;
}


.predictive-search-result {
    margin-bottom: 2rem;
}

.predictive-search-result h5 {
    text-transform: uppercase;
}

.predictive-search-result-item {
    margin-bottom: 10px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 100%;
    transition: .1s ease-in-out;
    opacity: 0.5;
}

.predictive-search-result-item-active{
    opacity: 1!important;
    margin-bottom: 10px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 100%;
    transition: .1s ease-in-out;
}



.predictive-search-result-item:hover {
    -webkit-box-shadow: 0px 0px 0px 3px #515451;
    box-shadow: 0px 0px 0px 3px #515451;
}

.predictive-search-result-item:hover a{
    margin-right: 20px;
}

.predictive-search-result-item a {
    align-items: center;
    display: flex;
    height: 100%;
    transition: .3s ease-in-out;
    justify-content: space-between;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.predictive-search-result-item a .search-result-box-img img {
    margin: 0 30px;
    border-radius: 5px;
    width: 130px !important;
    height: 80px;
    background-color: #fff;
    object-fit: contain;
}

.predictive-search-result-item a span{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

}

.search-result {
    margin-bottom: 1.5rem;
}

.search-results-item {
    margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/search
* --------------------------------------------------
*/

.search{
    background-color: #000;
    padding-left: 70px;
    padding-top: 50px;
}

.four-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.four-btns button {
    margin-right: 40px;
    border-radius: 15px;
    text-transform: uppercase;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding: 0 20px;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-color: #000 !important;
}

.four-btns a:nth-child(1) button {
    background-image: url(public/filters.png);
}

.four-btns a:nth-child(2) button{
    background-image: url(public/categories.png);
}

.four-btns a:nth-child(3) button{
    background-image: url(public/manual.png);
}

.four-btns a:nth-child(4) button{
    background-image: url(public/random.png);
}

.four-btns button:nth-child(1) {
    background-image: url(public/filters.png);
}

.four-btns button:nth-child(2){
    background-image: url(public/manual.png);
}

.four-btns button:nth-child(3){
    background-image: url(public/manual.png);
}

.four-btns button:nth-child(4){
    background-image: url(public/random.png);
}


.search-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-empty p{
    text-align: center;
}
.search-empty .search-empty-top{
    background-color: #161616;
    padding: 50px;
    border-radius: 15px;
}


.search .search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search .search-container .search-img{
    margin-right: 50px;
    margin-left: 80px;
    cursor: pointer;
}

.search .search-container .search-txt h1{
    font-size: 41px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.search .search-container .search-txt p{
    font-size: 19px;
    margin-bottom: 30px;
}

.search .search-container .search-txt button {
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.home {
    width: 100%;
}

.home img {
    background-size: cover; /* Ajuste la taille de l'image pour couvrir la container */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    background-color: black;
    position: relative;
}



.shop-now{
    /*background-image: url(public/manual.png);*/
    background-color: #000;

    border-radius: 15px;
    background-size: cover;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.shop-now h4{
    padding: 20px 40px;
}

.discover-trackt{
    /*background-image: url(public/manual.png);*/
    background-color: #fff;
    border-radius: 15px;
    background-size: cover;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    padding: 20px 40px;
}

.discover-trackt h4{
    color: #000;
}


.autoplay-progress {
    position: absolute;
    top: 190px;
    right: 50px;
    z-index: 10;
    width: 70px;
    height: 70px;
    color: #000;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.autoplay-progress span{
    font-size: 40px;
    font-family: "DS-Digital", sans-serif;
}


.home-btn {
    font-size: 25px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 40px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 80px;
}


.panel-trackt {
    display: flex;
}

.trackT .product-img-grid {
    width: 100% !important;
}

/*.trackT .swiper::-webkit-scrollbar {*/
/*    width: 5px; !* Largeur de la barre de défilement *!*/
/*    height: 5px;*/
/*}*/

/*.trackT .swiper::-webkit-scrollbar-thumb {*/
/*    background-color: #fff; !* Couleur de la poignée de la barre *!*/
/*}*/

/*.trackT .swiper::-webkit-scrollbar-track {*/
/*    background-color: #313131; !* Couleur du fond de la barre de défilement *!*/
/*}*/

.panel-trackt .filter-trackt {
    width: 230px;
    position: relative;
    background-image: url(public/home/bg-filters.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.panel-trackt .filter-trackt .filter-sticky {
    position: sticky;
    top: 50vh;
    z-index: 1;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 45vh;
}

.panel-trackt .filter-trackt .filter-sticky h1 {
    text-transform: uppercase;
    color: #fff;
    transform: rotate(270deg);
    font-size: 210px;
    font-weight: bold;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: 'Druk', sans-serif;
    letter-spacing: 10px;
    text-shadow: 0 0 0px rgba(255, 255, 255, .5);
}

.panel-trackt .filter-trackt .filter-sticky p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.panel-container {
    padding-left: 50px;
}

.second-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.panel-container-box{
    display: flex;
    justify-content: center;
    margin:50px;
}

.panel-container-box-item{
    display: flex;
    flex-direction: column;
    background: #121212;
    padding: 40px;
    width: 100%;
}

.panel-container-box-item:first-child{
    margin-right: 80px;
}


.panel-container-box-item p{
    font-size: 19px;
    font-family: 'HelveticaNeue300', sans-serif;
    line-height: 1.1;
}


.panel-container .header {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 100px;
    padding-top: 50px;
}

.panel-container .header h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}

.panel-container .panel-products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    overflow: hidden;
    padding-top: 20px;
}


.product-grid{
    position: relative;
    overflow: visible !important;
    flex-basis: calc(20% - 60px);
    width: calc(20% - 60px);
    margin: 30px;
    box-sizing: border-box;
}

.product-grid .product-img-grid {
    height: 200px !important;
    background-color: #fff;
    transition: 0.2s;
    position: relative;
}

@media screen and (min-width: 2150px){
    .product-grid .product-img-grid {

        height: 250px !important;
    }

}

@media screen and (max-width: 1750px){
    .product-grid{
        flex-basis: calc(25% - 60px);
        width: calc(25% - 60px);
    }

    .product-grid .product-img-grid {
        height: 200px !important;
    }
}

@media screen and (max-width: 1350px){
    .product-grid .product-img-grid {
        height: 170px !important;
    }
}

@media screen and (max-width: 1200px){
    .product-grid{
        flex-basis: calc(33.333333% - 60px);
        width: calc(33.333333% - 60px);
    }

    .product-grid .product-img-grid {
        height: 200px !important;
    }
}

@media screen and (max-width: 1000px){
    .product-grid{
        flex-basis: calc(33.333333% - 60px);
        width: calc(33.333333% - 60px);
    }

    .product-grid .product-img-grid {
        height: 150px !important;
    }
}

@media screen and (max-width: 850px){
    .product-grid{
        flex-basis: calc(50% - 60px);
        width: calc(50% - 60px);
    }

    .product-grid .product-img-grid {
        width: 160px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 768px){
    .product-grid{
        margin: unset !important;
    }
}



.trackT-swiper .swiper-wrapper{
    padding-bottom: 40px;
    padding-top: 40px;
}

.product-grid .product-img-grid img{
    transition: 0.2s ease-in-out;
}

.product-img-grid{
    overflow: hidden;
}

.product-grid .product-img-grid:hover{
    filter: opacity(1) !important;
}

.product-grid .product-img-grid:hover .product-img{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.product-grid .product-img-grid .product-ooo{
    filter: blur(2px);
}

.product-grid span{
    color: #EE0A39;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'HelveticaNeue500', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: glowRed 1s ease-in-out infinite alternate;

}

.product-grid span:before{
    content: "";
    width: 30%;
    height: 3px;
    background-color: #EE0A39;
    margin-right: 5px;
    box-shadow: 0 0 5px #EE0A39;

}

.product-grid span:after{
    content: "";
    width: 30%;
    height: 3px;
    background-color: #EE0A39;
    margin-left: 5px;
    box-shadow: 0 0 5px #EE0A39;

}

@-webkit-keyframes glowRed {
    from {
        text-shadow: 0 0 5px #EE0A39;
    }

    to {
        text-shadow: 0 0 10px #EE0A39;
    }
}

.product-grid span.soon{
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff;
    }

    to {
        text-shadow: 0 0 10px #fff;
    }
}

.product-grid span.soon:before{
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
}
.product-grid span.soon:after{
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
}

.product-grid .product-img-grid:hover .product-img-grid-overlay{
    opacity: 1;
}

.product-img-grid-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.product-basket{
    background-color: #fff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-basket img{
    width: 27px !important;
    height: 25px !important;

}


.product-grid .product-img-grid-sticker{
    top: -35px;
    right: -40px;
    width: 80px;
    height: 72px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}


.product-grid .product-img-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-grid .product-info-grid {
    padding-left: 10px;
}

.product-grid .product-info-grid h3 {
    margin-top: 16px;
}

.product-grid .product-info-grid p {
    margin-top: 2px;
    text-transform: uppercase;
}

/* MODAL STICKERS */


.modal-stickers-close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

}

.modal-stickers-header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-stickers-header h3{
    padding-top: 50px;
    padding-bottom: 20px;
}

.modal-stickers-header p{
    text-align: center;
    padding-bottom: 50px;
}

.modal-stickers-body{
    width: 100%;
}

.modal-stickers-body-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-stickers-body-item p{
    margin-left: 15px;
}

.modal-stickers-body-item img{
    width: 71px !important;
    height: 64px;
    object-fit: cover;
}

.hfooter{
    padding-bottom: 70px;
}

.hfooter .gofilters {
    margin: 100px auto;
    text-align: center;
    width: 80%;
}

.hfooter .gofilters h1 {
    text-transform: uppercase;
    margin-bottom: 20px;

}

.gofilters-btn {
    text-transform: uppercase;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
}



.hfooter .gofilters-btn p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-family: 'HelveticaNeue500', sans-serif ;

}



.hfooter .hinfos {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.hfooter .hinfos .hbox {
    width: 40%;
    background-color: #121212;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hfooter .hinfos .hbox .htext {
    width: 100%;
    margin-left: 50px;
}

.hfooter .hinfos .hbox .htext h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}


/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.collection-item img {
    height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
    margin-bottom: 1rem;
    max-width: 95%;
    @media (min-width: 45em) {
        max-width: 600px;
    }
}

.products-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.product-item img {
    height: auto;
    width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
    margin-bottom: 2rem;
}

.blog-article-image {
    aspect-ratio: 3/2;
    display: block;
}

.blog-article-image img {
    height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
    height: auto;
    width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
    display: flex;
    align-items: center;
}

.account-logout {
    display: inline-block;
}

/*
* --------------------------------------------------
* routes/filters
* --------------------------------------------------
*/

.filters{
    margin: 90px 90px 0 90px;
    display: flex;
    height: calc(100vh - 210px);
}

.filters__tvs{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.filters__tvs__first{
    position: relative;
}

.filters__tvs__first img:first-child{
    position: absolute;
    bottom: -20px;
    left: -160px;
    z-index: 1;
}

.filters__tvs__first img:last-child{
    position: relative;
    z-index: 2;
    right: -60px;
    bottom: -20px;

}
.filters__tvs__second{
    position: relative;
}

.filters__tvs__second img:first-child{
    position: absolute;
    bottom: -110px;
    left: -250px;
    z-index: 1;
}

.filters__tvs__second img:last-child{
    position: relative;
    z-index: 2;
    right: -60px;
    bottom: -42px;
}

.filters__tvs__third{
    position: relative;
}

.filters__tvs__third img:first-child{
    position: absolute;
    bottom: -110px;
    left: -240px;
    z-index: 1;
    width: 420px;
}

.filters__tvs__third img:last-child{
    position: relative;
    z-index: 2;
    right: -60px;
    bottom: -42px;
}

.filters-container{
    display: flex;
    width: 100%;
}

.filters-container div{
    width: 200px;

}

.filters-close {
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

.filters__categories{
    margin-bottom: 50px;
    padding-right: 10px;
}

.filters__categories:not(:last-child){
    border-right: 2px solid #64646450;
}



.filters__categories:not(:first-child){
    padding-left: 40px;
}


.filters__title{
    margin-bottom: 14px;
}


.filters__item label{
    display: flex;
    align-items: center;
}

.filters__item input{
    margin-right: 15px;
    width: 21px !important;
    height: 21px !important;
    cursor: pointer;
    padding-left: 0 !important;
}

.filters__item input[type="checkbox"] {
    appearance: none;
    border: 2px solid white;
    background-color: black;
    width: 21px !important;
    height: 21px !important;
    border-radius: 0 !important;
}

.filters__item input[type="checkbox"]:checked {
    background-color: white;
    background-image: url(public/filters/checkbox.png);
    border: none;
    image-rendering: pixelated;
    background-size: contain;
}

.filters__item label{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.filters__footer{
    position: fixed;
    bottom: 0;
    width: 100% !important;
    height: 120px;
    background-image: url(public/filters/footer.png);
    display: flex;
}

.filters__footer .filters__footer__buttons{
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.filters__footer .filters__footer__buttons a button:first-child{
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}

.filters-btn-disabled{
    background-color: #64646450 !important;
}

.filters__footer .filters__footer__buttons button:last-child{
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    color: #fff;
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination button{
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px;
}

.filters-all-tvs{
    position: absolute;
    left: 0;
    bottom: 95px;
}

.pocket-items{
    position: fixed;
    margin-left: 1%;
    width: calc(100% - 450px);
    display: flex;
    align-items: center;
    z-index: 999;
    height: 100%;
}

.pocket-dialog {
    position: relative;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    animation: fadeIn 0.3s ease; /* Animation d'ouverture */
    z-index: 999;

}

.pocket-items-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.pocket-items-header p{
    margin-top: 30px;
    font-size: 23px;
    font-family: 'HelveticaNeue300', sans-serif;
}

.pocket-items-product{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pocketItemOOO img{
    opacity: 0.2;
}

.pocketItemOOO span{
    color: #EE0A39;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'HelveticaNeue500', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: glowRed 1s ease-in-out infinite alternate;

}

.pocketItemOOO span:before{
    content: "";
    width: 30%;
    height: 3px;
    background-color: #EE0A39;
    margin-right: 5px;
    box-shadow: 0 0 5px #EE0A39;

}

.pocketItemOOO span:after{
    content: "";
    width: 30%;
    height: 3px;
    background-color: #EE0A39;
    margin-left: 5px;
    box-shadow: 0 0 5px #EE0A39;

}

@-webkit-keyframes glowRed {
    from {
        text-shadow: 0 0 5px #EE0A39;
    }

    to {
        text-shadow: 0 0 10px #EE0A39;
    }
}

.pocket-items-product-img{
     position: relative;
}

.pocket-items-product-img-main{
    width: 350px;
    height: 230px;
    object-fit: contain;
    background-color: #fff;
}

.pocket-items-product-img-price{
    position: absolute;
    bottom: -40px;
    right: -30px;
}

.pocket-items-product-img p{
    position: absolute;
    bottom: -5px;
    right: 5px;
    font-size: 25px;
    font-family: 'HelveticaNeue500', sans-serif;
    color: #000;
}

.pocket-items-product h4 {
    margin-top: 15px;
}

.pocket-items-product h6 {
    font-weight: 300;
    height: 30px;
}


.pocket-items-product .p-title{
    padding-left: 10px;
    width: 350px;

}

.pocket-items-product button{
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 40px;
    margin-top: 15px;
    width: 350px;
    font-family: 'HelveticaNeue500', sans-serif;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px); /* Ajoute un flou */
    background-color: rgba(0, 0, 0, 0.8); /* Ajoute un fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.dialog {
    position: relative;
    background-color: #8f8f8f75;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease; /* Animation d'ouverture */
    z-index: 999999;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*
* --------------------------------------------------
* routes/politics*
* --------------------------------------------------
*/

.legals{
    margin-left: 450px;
    width: 50%;
}



.legals h2{
    margin-top: 35px;
}

.legals p{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 19px;
    font-weight: 300;
}

.legals span.separator{
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF1F;
    margin: 100px 0;
}

.politics .politics-panier{
    display: flex;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.politics .politics-panier div{
    background-color: #363636;
    border-radius: 5px;
    margin-right: 50px;
}

.politics-panier div span{
    margin-bottom: 20px;
}

.politics-panier div p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
}

.politics-panier div p:last-of-type{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: unset;
}

.politics-retours-cb{
    margin-top: 45px;
    background-color: #363636;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.politics-retours-cb img{
    margin-bottom: 30px;
}

.politics-retours-cb h4{
    margin-bottom: 10px;
}





/*
* --------------------------------------------------
* routes/sitemap
* --------------------------------------------------
*/


.sitemap{
    padding: 5%;
    background-image: url(public/sitemap.png);
}

.sitemap h1{
    font-size: 72px;
    margin-bottom: 70px;
}

.sitemap .sitemap-container{
    display: flex;
    flex-wrap: wrap;
}

.sitemap .sitemap-container div:not(:last-child){
    margin-right: 50px;
}


.sitemap .sitemap-content p{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 11px;
}

.market-drag-item{
    background-color: #121212;
    padding: 30px 40px;
    display: flex;
    align-items: center;
}

.market-drag-swiper{
    padding-left: 20px;
}

.market-drag-swiper div{
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .home {
        margin-top: 120px;
    }

    .autoplay-progress{
        top: 70px;
    }

    .home img {
        height: unset;
    }

    .panel-container {
        padding-left: unset;
        padding: 0 10px;
    }

    .responsive-home-header {
        margin-top: 20px;
    }

    .responsive-home-header span {
        font-size: 12px;
        color: #FDE333;
        text-decoration: underline;
        text-transform: uppercase;
    }

    .responsive-home-header p {
        font-size: 16px;
        line-height: 1.5;
        padding-right: 30px;
        margin-top: 10px;
        font-weight: 300;
    }

    .trackT-slide {
        width: 300px !important;
    }

    .product-grid {
        margin: 0 30px 0 0;
    }

    .product-grid .product-img-grid-sticker {
        width: 43px;
        height: 39px;
        right: 25px;
        top: -20px;
    }

    .responsive-video-banner {
        position: relative;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .responsive-video-banner video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .panel-container-box{
        flex-direction: column;
        margin: unset;
    }

    .panel-container-box-item:first-child {
        margin-right: unset;
    }

    .panel-container-box-item{
        margin-bottom: 40px;
        width: unset;
        align-items: center;
    }


    .panel-container-box-item h2{
        font-size: 23px;
        margin-top: 40px !important;
    }

    .panel-container-box img{
        width: 80% !important;
        height: unset !important;
    }

    .responsive-show-more button{
        margin-top: 10px;
        width: 100%;
        background-color: #242424;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
    }

    .market-drag-item{
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .market-drag-swiper div{
        width: 100% !important;

    }

    .market-drag-item div{
        padding-left: unset !important;
        padding-bottom: 10px;
        margin-right: unset;
    }


    .market-drag-item img{
        transform: rotate(90deg);
    }

    .hfooter .gofilters{
        margin: 0 0 60px 0;
        padding: 0 20px;
        width: unset;
    }

    .gofilters h1{
        font-size: 20px;
    }

    .gofilters p{
        font-size: 16px;
    }

    .four-btns{
        flex-direction: column;
        align-items: center;
    }

    .four-btns button{
        margin-bottom: 20px;
        margin-right: unset;
    }

    /* cart aside */
    aside main{
        margin: unset;
    }

    aside {
        z-index: 99999;
        min-width: 100%;
    }
    .cart-details{
        padding: 0 20px;
    }

    .cart-main{
        padding-top: 20px;
        width: 100%;
    }

    .cart-line{
        margin-left: unset;
    }

    .cart-summary-aside{
        padding: unset;
    }

    .cart-main h1{
        text-align: center;
    }

    /* Search section */

    .search{
        padding-left: unset;
        padding-top: unset;
    }

    .search-container{
        padding: 0 30px;
        flex-direction: column;
    }

    .panel-container .responsive-products-grid{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .panel-container .responsive-products-grid .product-grid{
        padding-bottom: 30px;
        flex: 150px;
    }

    .product-grid .product-info-grid p{
        right: -25px !important;
    }

    .product-info-grid{
        padding-left: 5px;
    }
    .product-grid .product-info-grid h3{
        font-size: 15px;
        font-weight: 400;
    }

    .product-grid .product-info-grid p{
        font-size: 12px;
        font-weight: 300;
    }

    .pagination button {
        font-size: 15px;
    }

    .search .search-container .search-txt p{
        margin-top: 10px;
    }

    .search .search-container .search-img{
        margin-left: unset;
        margin-right: unset;
    }

    .legals{
        width: 90%;
        margin: auto;
    }

}