.myheader {
    background-color: #000;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myheader .nav-left {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.myheader .nav-left .logo {
    margin-left: 60px;
}

.myheader .nav-right {
    height: 100%;
    display: flex;
}

.nav-icons {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons .icon {
    padding: 0 10px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.nav-right .nav-images {
    cursor: pointer;
}
