@font-face {
    font-family: 'Druk';
    src: url('../fonts/Druk/Druk-Super-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.breadcrumb{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 170px;
    width: 100%;
    z-index: 10;
}

.breadcrumb-container{
    display: flex;
    padding-left: 80px;
}

.breadcrumb p{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.breadcrumb-colors{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.breadcrumb-color{
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 5px;
}

.product{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    margin-top: 100px;
}

.product-image-container{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.product-image{
    width: 85%;
}

.product-image-title{
    margin-bottom: 90px;

}

.product-image-title h1{
    text-transform: uppercase;
    font-size: 60px;
}

.product-image-title h2{
    text-transform: uppercase;
    font-size: 40px;
}

.product-main{
    width: 45%;
}

.product-main h1{
    font-family: 'Druk', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 85px;

}

.product-main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}


.product-main .product-sticker{
    width: 60px;
    height: 55px;
    object-fit: cover;
    z-index: 1;
}

.product-main-stickers{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.stickers-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
}

.product-main-stickers .pair-container{
    display: flex;
    justify-content: center;
}

.toothbrush{
    width: 65px;
    height: 120px;
    margin-left: 50px;
    cursor: pointer;
}


.product-main-head{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.product-main-features{
    background-color: #121212;
    padding: 30px 40px;
    border-radius: 5px;
    margin-left: 50px;
}

.product-main-features h2{
    text-transform: uppercase;
}


.product-main-features-list{
    margin-top: 20px;
}

.product-main-features-list p{
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;

}
.product-image-main{
    margin-top: 50px;
    position: relative;
    width: 810px;
    height: 550px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.product-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.product-price h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-price-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
}

.product-size-os{
    width: 250px !important;
    height: 250px !important;
}


.product-price-container span{
    color: #EE0A39;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'HelveticaNeue500', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    text-shadow: 0 0 5px #EE0A39;


}

.product-price-container span:before{
    content: "";
    width: 25%;
    height: 2px;
    background-color: #EE0A39;
    margin-right: 5px;
    box-shadow: 0 0 5px #EE0A39;

}

.product-price-container span:after{
    content: "";
    width: 25%;
    height: 2px;
    background-color: #EE0A39;
    box-shadow: 0 0 5px #EE0A39;

    margin-left: 5px;
}

.product-price-container span.soon{
    color: #fff;
    text-shadow: 0 0 5px #fff;

}

.product-price-container span.soon:before{
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
}

.product-price-container span.soon:after{
    background-color: #fff;
    box-shadow: 0 0 5px #fff;


}

.product-price-container span.soon{
    color: #fff;
}

.product-price-container span.soon:before{
    background-color: #fff;
}

.product-price-container span.soon:after{
    background-color: #fff;
}

.product-options h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.product-options-item{
    font-size: 40px;
    font-weight: 600;
}

.product-swiper .swiper-slide{
    display: flex !important;
    justify-content: center;
    height: 40px;
}

.sizes-guid{
    border-radius: 5px;
    background-color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 40px;
    margin: 0 auto;

}

.product-price{
    width: 50%;
}

.product-form{
    width: 50%;
}

.product-options{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.product-options-grid a{
    color: #fff;
}

 product-options-grid div{
    height: 40px !important;
}

.product-price-container div {
    opacity: 0.5;
    position: absolute;
    left: 50%;
    bottom: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #000;
}

.product-price-container img{
    cursor: not-allowed;
    object-fit: contain;
}

.product-price form button{
    border-radius: 5px;
    background-color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: 600;
    padding: 20px 40px;
}

.product-connexe{
    margin-top: 60px;
    width: 85%;
    background-color: #121212;
    padding: 30px 40px;
    border-radius: 5px;

}

.product-connexe-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

}

.navigation-buttons{
    display: flex;
}

.navigation-buttons button:first-child {
    margin-right: 5px;
}


.navigation-buttons button:first-child svg{
    transform: rotate(180deg);

}

.navigation-buttons button{
    background-color: #222222;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-connexe-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; /* Pour Firefox */
    padding-bottom: 50px;
}

.product-connexe-grid::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
    height: 5px;
}

.product-connexe-grid::-webkit-scrollbar-thumb {
    background-color: #fff; /* Couleur de la poignée de la barre */
}

.product-connexe-grid::-webkit-scrollbar-track {
    background-color: #313131; /* Couleur du fond de la barre de défilement */
}

.product-connexe h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-connexe-1{
    width: 230px;
    height: 150px;
}

.product-connexe-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image-main-absolute{
    position: absolute;
    object-fit: none;
}

.tl{
    top: -50px;
    left: -70px;
}

.tr{
    top: -50px;
    right: -70px;
}

.bl{
    bottom: -50px;
    left: -70px;
}

.br{
    bottom: -70px;
    right: -50px;
}

.product-image-list{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    overflow: hidden;
    gap: 10px;
    max-width: 810px;

}

.product-image-list-item{
    display: flex;
    flex-direction: column;
}

.product-image-list-item-code{
    object-fit: none !important;
}

.product-image-list img{
    object-fit: contain;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* BANNER */

.productBanner{
    margin: 50px 0;
    width: 100%;
}

.productBanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TRACKT */

.trackT{
    margin: 50px;
    padding: 30px;
    background-color: #121212;
    border-radius: 5px;
}

.trackT-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.trackT-header h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
}

.trackT-grid{
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; /* Pour Firefox */
    padding-bottom: 50px;
}

.trackt-grid-product{
    width: 310px;
    height: 200px;
}

.trackt-grid-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.trackT-grid::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
    height: 5px;
}

.trackT-grid::-webkit-scrollbar-thumb {
    background-color: #fff; /* Couleur de la poignée de la barre */
}

.trackT-grid::-webkit-scrollbar-track {
    background-color: #313131; /* Couleur du fond de la barre de défilement */
}


/* Modal */

.modal-toothbrush{
    display: flex;
}

.modal-toothbrush div{
    display: flex;
    flex-direction: column;
}

.modal-toothbrush div:not(:last-child){
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-toothbrush div img{
    width: 80px;
    height: 140px;
    margin: 50px 0;
}

.modal-toothbrush div h4{
    margin-bottom: 15px;
}

.modal-toothbrush div p{
    margin-bottom: 50px;
    text-align: center;
}

.img-ooo{
    width: 170px;
}
/* Media Queries */

@media screen and (max-width: 1650px){
    .product-image-main{
        width: 600px;
        height: 450px;
    }

    .product-image-container{
        width: 45%;
    }

    .product-main{
        width: 50%;
    }

    .product-main h1{
        font-size: 70px;
    }

}

/*START RESPONSIVE */


@media screen and (max-width: 768px){

    .trackT{
        padding: unset;
        background: #000;
        margin: 0 0 0 30px;

    }

    .product{
        flex-direction: column;
        margin-top: 20px;
        padding: 0 30px;
    }

    /*Image */

    .product-image-main-absolute{
        width: 140px;
    }

    .tl{
        top: -25px;
    }

    .bl{
        bottom: -35px
    }

    .br{
        bottom: -25px;
        right: -25px;
    }

    .product-image-main{
        width: 100%;
        height: 220px;
    }

    .product-image-main img {
        object-fit: contain;
    }

    .product-image-container{
        width: 100%;
        margin-bottom: 50px;
    }

    .product-main{
        width: 100%;
    }

    .product-image{
        width: 100%;
    }

    .product-image-title{
        margin-bottom: 60px;
    }

    .product-image-title h1 {
        font-size: 12px;
    }

    .product-image-title h2 {
        font-size: 12px;
    }

    .product-image-name{
        font-size: 64px;
        font-family: 'Druk', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: -15px;
    }

    .product-image-list{
        margin-top: 50px;
        justify-content: flex-start !important;
    }

    .product-image-list-item div{
        width: 70px !important;
        height: 45px !important;
    }

    /* BREADCRUMB RESPONSIVE */
    .breadcrumb{
        height: 40px;
        top: 120px;
        display: block;
    }

    .breadcrumb-container{
        padding-left: 30px !important;
        height: 100%;
        align-items: center;
    }

    .breadcrumb p{
        font-size: 12px;
    }

    .breadcrumb-colors{
        padding-right: 30px;
    }
}


